# init client
client = new Faye.Client('<%= FAYE_URI.to_s %>')

# Logging
Logger = {
  incoming: (message, callback) ->
    console.log('incoming', message);
    callback(message);
  ,
  outgoing: (message, callback) ->
    console.log('outgoing', message)
    callback(message)
  
}

client.addExtension(Logger);

room = 'general'

change_room = (new_room) ->
  client.unsubscribe("/#{room}")
  easy_subscribe("#{new_room}")
  room = new_room
  $('#room')[0].innerHTML = room

easy_subscribe = (room) ->
  client.subscribe("/#{room}", (message) ->
    prepending = $("<li>#{message}</li>").hide();
    prepending.prependTo('#messages').slideDown();
  )

sendmessage = (channel, message) ->
  $.ajax({
    url: "/home/message#{channel}?message=#{message}",
    type: "POST"
  })

addmessage = (message) ->
  sendmessage("/#{room}", message)

sendmessage('/general', 'Someone else is now viewing this page!')

easy_subscribe(room)

$(document).ready ->
  $('#room_tag').bind 'blur', ->
    change_room(this.value);

$(document).ready ->
  $('#message_form').bind 'submit', ->
    addmessage($('#message')[0].value)
    $('#message')[0].value = ''
    return false
